@page
@model BankRPEF.Pages.TestCacheModel
@{
    ViewData["Title"] = "TestCache";
}
<h1>Test Cache</h1>
<form method="post">
    <input type="submit" value="Read Cache" />
</form>
<div>@Model.Message</div>