@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps
            with ASP.NET Core
        </a>.
    </p>
</div>
@if (Model.Stu != null)
{
    <h2>Student stoed in Session</h2>
    <div>@Model.Stu.FirstName</div>
    <div>@Model.Stu.LastName</div>
    <div>@Model.Stu.Id</div>
}
else
{
    <p>No Student stored in Session</p>
}